sudo: required

services:
- docker

language: python

python:
- '2.7'


env:
  global:
  - IMAGE_NAME=hepdata-converter-ws
  - IMAGE_NAME_REMOTE=hepdata/hepdata-converter-ws
  - secure: AAIBrgSjmh/3PUwRFgkBvih7k5m1n15u9QELJ90oUEr6bm4mgIcMUo+CooPYlx3OVSFfteJeF7yBkXH+vAzKMJUnow/qali/XY0at3zgJ+GunEC5BlL511Fw3jd0QJrZUZs5z4Bb3XLjboCuxbWiQr79I98BhQbL2NW7RCkt4rGvHxfzDplfdH3RFmaW4dO24cYx4Zfhx5YJWiVpm+7jjFrzwrrlsvXauVbDew1qubU+mLP2P4dKmyAPZe/22uGWi9qK6vMYi8V3Pt2K7K2b6KQm/UsIvlMtqQCtYjyVsshM+54dXzmwa6BsKGCsa5QxBfNKsVKoL/G8/fIS6e5OxBlq6hPdbgJnoZKl45QOoCSDSbw08Alfj+L/ke5MNkWRb267n+xDgWNyflBSq/e7aBLm6atAEpz6Bku9+Ak0mdwm+TZR4uV7igcegVnxHKxqVwOTp7877orOkrs1obL1Z4QQmcZFT/xPbbRlPit11VVvSgS8NxKo4J79TFwUUX/sQz4KqTADFLMseZeZek/XtHxXNKOM7zV+6wIgn7FvxKtxYDQf6j04znDjsvw2U8LdwuJcfwmCvF8CRiuZU+a6LMIfbdO3bUm5TCxhtL6MvCTzmi5yIv2wc5pzHvmPqKZV71bu0cMINgvGjKhy4ZUeWXKWPdhVUC7z/w+OQfeYfYU=
  - secure: ZG46eMjmL7oJ/AnETzaaZ4CJnHmoy0u97KHzpPcjB4OKG7MW2ZDKM+OPqHeaHqHABI0rfX9Jki056cmP2e9iW55LIENM+CSz3DvKnFUcmLMwAQweWTB93FEWL9b1S6w4kK7h+Dj5pzFQL1L4QSXZRsB4MrtZ9rgNHMBGd1uaGV7VeNk4/AuBzaBRvMtqf1Reu5c/5hZcpPRVTdb4ZL8He29W3VXNNImPyHTF/kH1gMuLOlkg8p38zD8hqmaO2F1380zFw1GBJthlF/GccyEMiyCIgOzGL4yHy3cXVUjq3+SgGUSUuwbwdGlUDz6BngLd5KR+lgQTjXLZZD4W2F8o+x1JsdBg5jrGFMJRcM0xdO0MgmUUdI+PEJaxMyGzVNmNfp0pzrjVclJ13xA8uITIoOgXfm4OebFOCWzHoXhfRoOUx8T8vx4HtlAKsPEMXzcggpJq+B6ySZ5loSMUe7z1M2FVT21bAtoAEp7UekBk5cWsGsSMfFT4trsHKON42KDUL5ndwwxzEoKoTlu3WW1C1Bl5wva8O3ai1DgFbZsitGb7F3DVVJipSNQxvPvW8OD+bk3u/3ELiP0m/OuyICrlDNoO2DGK/Qw5sBve2cv1e2ZRE7JRouojFn5yif2iylP4cLDxdO3vsKYahqifKaUy3dZD2E7KglD3xnqepfHlz6k=
  - secure: CkNb1+/zw7nGM2G4LNUjLAc3T42mJYw9JWQaHawG9cRS2CV/qY9ReQIrZh6SINHqaE2IuFSazDo6SaMmo8DXKsViywrI32DQyJN9h5StXApq4kN7UdsxK1HV+LNPL77yd5bCqzIlCm6DuTcoXVn3+VBd55SAmXynIO25PbO+qC64wQ+UcQLVeoIB5xRlN+K8cQHyXhKVVp5qjH2R7QfHfsQ5ZYySB3Bln/ivuxw/k/F4NqVxRp/E8T8Y/Nwf+2E1AP/2VPs+eioMscuVB4zCbWMMw0GfoluC7OgBPL4eKp1NET0KWbBfv6DiwUiMVCH/j9TACLM5Xze8TDTuUvajClkiKfgiGtdiO6cjXWq48CU18wpZbK8g6vHCj2hGNyvt/ASFEgi5bjIGe0oho/sJW98EfTzyFZfOBVExDYsF2JF49pzrLe6H1pH3tTH2A+zlTO/tYJPWfapoR2896XD+I6qAexnXYbj/ziCn3xHEM+F1JI/BlcC6/T7/oLRwBs56gQSW1DOlBoJr3lEOz+DWYgLpqGCTLYI3m+fm6jTMCKrlEZjNQa8QPmzUozpq8naXoufFK8HqvNXdwLyLXAKD5SVZx/osH7h87d70RIO+Gk0kF5VYnimfr+6dmCrLKRTPunxtv0rk+ujpGJemdAS7UYvKtCYx71MAJbjFQltN+Mg=

cache:
- docker

install:
- echo "creating $IMAGE_NAME image..."

script:
- docker build -t $IMAGE_NAME .
- docker tag $IMAGE_NAME $IMAGE_NAME_REMOTE:latest
- docker login --password=$DOCKER_PASSWORD --username=$DOCKER_USERNAME
- docker push $IMAGE_NAME_REMOTE:latest
